#main {
	background-color:#333;
	padding:10px;
	height: 900px;
	width:60%;
	float:left;
	top:0;
	left:0;
}

#main1 {
	background-color:#333;
	padding:10px;
	height: 30x;
	width:60%;
	float:left;
	top:0;
	left:0;
}

#main1 .titulo1 {
	text-shadow: 2px 2px red;
	float:left;
	width:100%;
	text-align:center;
	font-size:45px;
}

#main2 {
	background-color:#333;
	padding:10px;
	float:left;
	height:480px;
	width:60%;
	top:0;
	left:0;
}

#main .titulo {
	text-shadow: 2px 2px red;
	float:left;
	width:100%;
	text-align:center;
	font-size:45px;
}

#main .foto1 {
	float:left;
	width:100%;
	height:40%;
	margin:2px;
	padding:3px;
}

#main .p1 {
	color:#808080;
	width:100%;
	height:45%;
	text-align:center;
	font-size:20px;
}

.span2 {
	text-decoration-line: underline;
	color:red;
}

#main1 .main1opciones {
	width:30%;
	float:left;
	margin-top:10px;
	text-align:center;
}

.main1opciones img {
	width:95%;
}


.main1opciones p {
	color:#808080;	
}
